# Arboles de desicion

In [47]:
import pandas as pd
df = pd.read_csv('data_dec_trees.csv')
df

   PERSPECTIVA TEMPERATURA HUMEDAD VIENTO  HORAS JUGADAS
0     lluvioso    caluroso    alta     no             26
1     lluvioso    caluroso    alta     sí             30
2      nublado    caluroso    alta     no             48
3      soleado    templado    alta     no             46
4      soleado      fresco  normal     no             62
5      soleado      fresco  normal     sí             23
6      nublado      fresco  normal     sí             43
7     lluvioso    templado    alta     no             36
8     lluvioso      fresco  normal     no             38
9      soleado    templado  normal     no             46
10    lluvioso    templado  normal     sí             48
11     nublado    templado    alta     sí             62
12     nublado    caluroso  normal     no             44
13     soleado    templado    alta     sí             30

In [48]:
import numpy as np
standard_deviation = np.std(df['HORAS JUGADAS'])
standard_deviation

11.536985776897124

In [57]:
c1_std = np.std(df.loc[df['PERSPECTIVA'] == 'lluvioso', 'HORAS JUGADAS'])
c1_std

7.5259550888907114

In [58]:
c2_std = np.std(df.loc[df['PERSPECTIVA'] == 'soleado', 'HORAS JUGADAS'])
c2_std

13.676256797823008

In [59]:
c3_std = np.std(df.loc[df['PERSPECTIVA'] == 'nublado', 'HORAS JUGADAS'])
c3_std

7.5952287654816564